/* Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
}

h1 {
  color: #f9f9f9;
}

h3 {
  color: #333;
}

a {
  text-decoration: none;
  color: #337ab7;
}

a:hover {
  color: #23527c;
  cursor: pointer;
}

/* Header Styles */

.header {
  background-color: #337ab7;
  padding: 1em;
  text-align: center;
  color: #fff;
}

.header h1 {
  margin-bottom: 0.5em;
}

/* Navigation Styles */

.header nav {
  background-color: #f0f0f0;
  padding: 1em;
  text-align: center;
  display: flex; /* Add flexbox layout */
  justify-content: space-between; /* Distribute elements horizontally */
  align-items: center; /* Vertically center elements */
}

.header nav a {
  margin-right: 1em;
}
.header nav .nav-actions {
  /* Add a container for the actions */
  display: flex; /* Use flexbox for the actions */
  align-items: center; /* Vertically center the actions */
}
.header nav .logout {
  /* Style the logout button */
  margin-left: auto; /* Push the logout button to the right */
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  padding: 1em;
}

.nav-actions {
  display: flex;
  align-items: center;
}

.nav-actions a {
  margin-right: 10px;
}

.nav-actions a:last-child {
  margin-right: 0;
}

.navbar > div:last-child {
  margin-left: auto;
}
.infobar {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Book Information Styles */

#book-info {
  background-color: #f7f7f7;
  width: 65%;
  height: 400px;
  padding: 1em;
  padding-bottom: 0px;
  border: 1px solid #ddd;
  margin: 3px;
}

#book-info p {
  margin-bottom: 0.5em;
}

/* Filter Section Styles */

#filter-section {
  background-color: #f7f7f7;
  width: 35%;
  height: 400px;
  padding: 1em;
  border: 1px solid #ddd;
  margin: 3px;
}

#filter-section label {
  display: block;
  margin-bottom: 0.5em;
}

#filter-section input[type="text"] {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 1em;
  border: 1px solid #ccc;
}

#filter-section select {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 1em;
  border: 1px solid #ccc;
}

#filter-section button[type="submit"] {
  background-color: #337ab7;
  color: #fff;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
}

#filter-section button[type="submit"]:hover {
  background-color: #23527c;
}

/* Navigation Controls Styles */

#navigation-controls,
#reservation {
  text-align: center;
  margin-bottom: 4px;
}

#navigation-controls button,
#reservation button {
  background-color: #337ab7;
  color: #fff;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  position: relative;
}

#navigation-controls button:hover {
  background-color: #23527c;
}

.hidden {
  display: none;
}

/* Transaction Data Styles */

.transaction-data {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.transaction-data h2 {
  margin-top: 0;
}

.transaction-data h4 {
  margin-bottom: 10px;
}

.transaction-data table {
  border-collapse: collapse;
  width: 100%;
}

.transaction-data th,
.transaction-data td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.transaction-data th {
  background-color: #f0f0f0;
}

.transaction-data td {
  background-color: #fff;
}

/* Signature Section Styles */

.transaction-data h2:last-child {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

.transaction-data h4:last-child {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: normal;
}

/* Link Styles */

a {
  text-decoration: none;
  color: #337ab7;
}

a:hover {
  color: #23527c;
}

/* Responsive Design */

@media (max-width: 768px) {
  .transaction-data {
    margin: 10px;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .transaction-data h2 {
    font-size: 16px;
  }
  .transaction-data h4 {
    font-size: 14px;
  }
}

#reserved-books {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#reserved-books h3 {
  margin-top: 0;
  font-weight: bold;
  color: #333;
}

#reserved-books-table {
  width: 100%;
  border-collapse: collapse;
}

#reserved-books-table th,
#reserved-books-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

#reserved-books-table th {
  background-color: #f0f0f0;
  font-weight: bold;
}

#reserved-books-table td {
  background-color: #fff;
}

.remove-book {
  background-color: #f44336;
  color: #fff;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}

.remove-book:hover {
  background-color: #e91e63;
}

#Clear,
#Confirm {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#Clear {
  background-color: #337ab7;
  color: #fff;
}

#Clear:hover {
  background-color: #23527c;
}

#Confirm {
  background-color: #337ab7;
  color: #fff;
}

#Confirm:hover {
  background-color: #23527c;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  max-width: 98vw;
  font-family: sans-serif;
}

.tabs__label {
  padding: 10px 16px;
  cursor: pointer;
}

.tabs__radio {
  display: none;
}

.tabs__content {
  order: 1;
  width: 100%;
  border-bottom: 3px solid #dddddd;
  line-height: 1.5;
  font-size: 0.9em;
  display: none;
}

.tabs__radio:checked + .tabs__label {
  font-weight: bold;
  color: #337ab7;
  border-bottom: 2px solid #23527c;
}

.tabs__radio:checked + .tabs__label + .tabs__content {
  display: initial;
}

#navigation-controls form {
  display: inline-block;
  margin-right: 10px;
}