<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABC Learning Resource Center</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/AdminStyle.css') }}">
</head>
<body>
    <div class="header">
        <div>
            <h1>ABC Learning Resource Center</h1>
        </div>
        <div>
            Return Receipt
        </div>
    </div>

    <div class="transaction-data">
        <h2>Transaction Data</h2>

        <h4>Transaction No.: {{ transaction_data[0].TransactionNo }} <br></h4>
        <h4>Date Returned: {{ transaction_data[0].Borrowed }} <br></h4>
        <table>
            <tr>
                <th>ISBN</th>
                <th>Title</th>
                <th>Date Borrowed</th>
                <th>Transaction No.</th>
                <th>Type of Transaction</th>
                <th>Overdue</th>
            </tr>
            {% for book in transaction_data[0].Items %}
            <tr>
                <td>{{ book.ISBN }}</td>
                <td>{{ book.Title }}</td>
            </tr>
            {% endfor %}
        </table><br>

        <h2>This is to certify that the above information is true and correct.</h2>
        <br><br><br><br>
        <div>
        <h4 style="text-align: left;">User name</h4>
        <h4 style="text-align: left;">Librarian</h4>
        </div>
        <div>
            <h4 style="text-align: right;">Client name</h4>
            <h4 style="text-align: right;">member</h4>
            <h4 style="text-align: right;">member ID</h4>
            </div>
    </div>

</body>
</html>